
.header {
    overflow: hidden;
    background-color:white;
    
  }
  
  
  .header a{
    
    
    float: left;
    color:#FFB300;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    margin-top: 5px;
   margin-right: 15px;
    border-radius: 4px;
    background-color: gray;
  }

  .header a:hover {
    background-color: #ddd;
    color:#FFB300;
  }
  
  .header-right {
    float: right;
  }

  .body {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-image: url('/assets/images/man-fit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

  .body h1{
    
    color:#FFB300;
    margin: 10px;
    padding-top: 80px;
    text-align: left;
  
  }
   
  
  .body p{
    margin: 10px;
    font-size: 18px;
    color:white;
    float: left;
    width: 25%;
    text-rendering: optimizeLegibility;
  }
  

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  