<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="header">
    <img src="../../assets/images/logo.PNG" height="60px" width="140px" >
  <div class="header-right">
   <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </div>
  </div>
  
  <div class="body" >
    <h1>What is Sculp Fitness ?</h1>
    <p>
      We are a fitness service that helps you realise one of the best gifts, 
      that of a lifetime of good health.Our team of experts follow
       a result-oriented approach and offer consultation on nutrition and 
       exercise  that is personalised to your needs and preferences in a
        sustainable fashion.
    
    </p>
    
    
  </div>

  <div class="footer">
  
  </div>
