<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	
	</head>
<body>

    <div class="main">

        <div class="container">
            <div class="otp-data">
                    <div class="otp-image">
                            <img class="otp-img" src="../../assets/images/100.jpg" alt="otp Image">
                        </div>
                        <div class="otp-form">
                                <form id="otp-form" method="POST" action="">
                                    <h2>OTP Verification</h2>
                                        <div class="form-group form-input">
                                                <input type="number" name="phoneotp" id="phoneotp" value="" required />
                                                <label for="phoneotp" class="form-label">Enter Mobile OTP</label>
                                        </div>
                                                <div class="form-group form-input">
                                                    <input type="number" name="emialotp" id="emailotp" value="" required />
                                                    <label for="emailotp" class="form-label">Enter Email OTP</label>
                                                </div>
                                                        <div class="form-submit">
                                                            <input type="submit" value="Register" class="submit" id="submit" name="submit" />
                                                                        
                                                            </div>
                                              <a href="#" class="resend">Resend</a>
                        
                             </form>                                                              
                                                         
                            </div>
                                                          
                        </div>
                                                        
                    </div>
                                                
                                                   
                </div>
													
			
                                                    
            </body>
            
            </html>