
display-flex, .login-data {
    display: flex;
    display: -webkit-flex; }
  
  
  a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }
  
  input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important; }
  
  input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0; }
  
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  
  
  
  img {
    max-width: 100%;
    height: 80%; }
  
  figure {
    margin: 0; }
  h2{
      color: #FFB300;   
  }
  
  
  .clear {
    clear: both; }
  
  body {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    background: white;
    font-weight: 400;
    font-family: Poppins;
    margin: 0px; }
  
  .main {
    padding: 80px 0;
    position: relative; }
  
  .container {
    width: 1150px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px; }
  
  .profile-content {
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -ms-flex-wrap: wrap; }
  
  .login-image {
    width: 58.33%;
    height: 50%;
    margin-bottom: -8px; }
  
  .login-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }
  
  .login-form {
    width: 41.67%;
    height: 50%;
    background: #111;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  
  
  .active {
    position: relative;
    background: #FFB300;
    padding: 14px 1px;
    margin-right: 7px;
    margin-left: 3px;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    -o-border-radius: 24px;
    -ms-border-radius: 24px; }
    .active:after {
      position: absolute;
    
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      font-size: 11px;
      color: #222;
      font-weight: bold; }
    .active input + label {
      margin-right: 59px; }
  
  form {
    padding: 72px 70px 70px 70px; }
  
  .form-group {
    margin-bottom: 10px;
    position: relative;
    }
  
  .form-input {
    padding-top: 21px; }
  
  .form-label {
    position: absolute;
    transition: 0.25s ease;
    -moz-transition: 0.25s ease;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    -ms-transition: 0.25s ease;
    color: #bebebe;
    left: 0;
    top: 23px; }
  
  input {
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    padding-top: 10px;
    -webkit-appearance: none; }
    input:focus + .form-label, input:valid + .form-label {
      top: 1px;
      font-size: 11px;
      color: #FFB300; }
  
  input, select {
    box-sizing: border-box;
    width: 100%;
    display: block;
    border: none;
    font-family: Poppins;
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #999;
    padding: 4px 0;
   
    }
    
    select{
        margin-top:20px;
    }
    
    option{
        color:black;
        
    }
  
    
    input:focus, select:focus {
      border-bottom: 1px solid #FFB300; }
  
  input:-webkit-autofill {
      
   -webkit-boxshadow:0 0 0 30px transparent inset;}
  
  input::-webkit-input-placeholder {
    color: #bebebe; }
  input::-moz-placeholder {
    color: #bebebe; }
  input:-ms-input-placeholder {
    color: #bebebe; }
  input:-moz-placeholder {
    color: #bebebe; }
  
  .submit {
      margin-top: 20px;
    width: auto;
    background: #FFB300;
    color: #fff;
    padding: 15px 43px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer; }
    .submit:hover {
      background: #FFB300; }

    .forget-password {
        color: #FFB300;
        float: right;
        font-size: 16px;
        text-decoration: none;
        margin-top: 14px;
        display: block;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s; }
    .forget-password:hover {
          text-decoration: underline; }
      
  
  
  
  .select-list {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 47px;
    }
  
  .list-item {
    position: absolute;
    width: 100%; 
    }
  
  #countrycode {
    z-index: 99; }
  
  
  @media screen and (max-width: 500px) {
    .container {
      width: calc( 100% - 30px);
      max-width: 100%;
      background: transparent; }
  
    .login-content {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column; }
  
    .login-image, .login-form {
      width: 100%; }
  
    .login-image {
      order: 2;
      text-align: center; }
  
    .login-form {
      order: 1;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }
  
    .login-img {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 100%; } }
  @media screen and (max-width: 500px) {
   
    .active {
      padding: 7px 1px; }
  
    form {
      padding: 72px 40px 70px 40px; } 

      .header #link {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
  
  /*# sourceMappingURL=style.css.map */


  .header {
    overflow: hidden;
    background-color:white;
    
  }
  
  
  .header #link{
    
    
    float: left;
    color:#FFB300;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    margin-top: 5px;
   margin-right: 15px;
    border-radius: 4px;
    background-color: gray;
  }

  .header #link:hover {
    background-color: #ddd;
    color:#FFB300;
  }
  
  .header-right {
    float: right;
  }


  